%header.box.clearfix
  .xs-float-left
    %h1.xs-alpha.xs-inset3 Your logo
  .xs-float-right
    %ul.bare-list
      %li.bare-list__item.xs-inline-block
        %a.link.xs-inline-block{href: '#'} Home
      %li.bare-list__item.xs-inline-block
        %a.link.xs-inline-block{href: '#'} About
      %li.bare-list__item.xs-inline-block
        %a.link.xs-inline-block{href: '#'} Contact
%main.box
  .layout
    .layout__item.sm-4of12><
      %form.box.box--default.xs-prl1.xs-pt1{action: '/some-url'}
        .field.xs-mb1
          %label.xs-block{for: ''} Name
          %input.text-input{type: 'text'}
        .field.xs-mb1
          %label.xs-block{for: ''} Email
          %input.text-input{type: 'email'}
        .field.xs-mb1
          %input.button.button--primary{type: 'submit', value: 'Big CTA Button'}
    .layout__item.sm-4of12><
      %p.xs-mbh0
        Second column: put some content about your company here.
      %p.xs-mbh0
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .layout__item.sm-4of12><
      %p.xs-mbh0
        Third column: nobody's gonna read this. Social media links or something.
      %p.xs-mbh0
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
%footer.box
  %h2.xs-beta.xs-inset2 Footer content: add a logo here, and use the footer nav below.
  %ul.bare-list
    %li.bare-list__item.xs-inline-block
      %a.link.xs-inline-block{:href => "#"} Home
    %li.bare-list__item.xs-inline-block
      %a.link.xs-inline-block{:href => "#"} About
    %li.bare-list__item.xs-inline-block
      %a.link.xs-inline-block{:href => "#"} Contact