.layout__item.xs-none.sm-4of12.md-3of12.xs-none.sm-inline-block><
  .box.sidebar.sidebar--settings.sidebar--is-fixed.sm-mt1.sm-ml1><
    .sidebar__inner{style: 'top: 9rem;'}
      %h3.xs-mbh0 Blocks
      %a#library-grid-toggle{href: 'javascript: void;'} Show vertical grid
      %ul.bare-list.list-navigation
        %li
          %a.list-navigation__link{href: '#structure'} Structure
          %ul.list--dotted-line
            %li
              %a.list-navigation__link{href: '#layout'} Layout
            %li
              %a.list-navigation__link{href: '#flag'} Flag
            %li
              %a.list-navigation__link{href: '#media'} Media
        %li
          %a.list-navigation__link{href: '#colors'} Colors
        %li
          %a.list-navigation__link{href: '#boxes'} Boxes
        %li
          %a.list-navigation__link{href: '#badges'} Badges
        %li
          %a.list-navigation__link{href: '#indicators'} Indicators
        %li
          %a.list-navigation__link{href: '#buttons'} Buttons
        %li
          %a.list-navigation__link{href: '#flashbars'} Flashbars
        %li
          %a.list-navigation__link{href: '#tabs_navigations'} Tabs Navigations
        %li
          %a.list-navigation__link{href: '#tooltips'} Tooltips
        %li
          %a.list-navigation__link{href: '#typography'} Typography
          %ul.list--dotted-line
            %li
              %a.list-navigation__link{href: '#typography-headings'} Headings
            %li
              %a.list-navigation__link{href: '#typography-links'} Links
            %li
              %a.list-navigation__link{href: '#typography-text-styles'} Text Styles
            %li
              %a.list-navigation__link{href: '#typography-lists'} Lists
            %li
              %a.list-navigation__link{href: '#typography-paragraphs'} Paragraphs
        %li
          %a.list-navigation__link{href: '#forms'} Forms
          %ul.list--dotted-line
            %li
              %a.list-navigation__link{href: '#forms-form_builder'} Form Builder
            %li
              %a.list-navigation__link{href: '#forms-text_inputs'} Text Inputs
            %li
              %a.list-navigation__link{href: '#forms-select_inputs'} Select Inputs
            %li
              %a.list-navigation__link{href: '#forms-textarea_inputs'} Textarea Inputs
            %li
              %a.list-navigation__link{href: '#forms-radio_inputs'} Radio Inputs
            %li
              %a.list-navigation__link{href: '#forms-checkbox_inputs'} Checkbox Inputs
            %li
              %a.list-navigation__link{href: '#forms-input_groups'} Input Groups
        %li
          %a.list-navigation__link{href: '#wings'} Wings
        %li
          %a.list-navigation__link{href: '#extend'} Semantic Page CSS
