.layout.xs-mt2
  .layout__item.xs-none.sm-4of12.md-3of12.xs-none.sm-inline-block><
    .box.sidebar.sidebar--settings.sidebar--is-fixed.sm-mt1.sm-ml1><
      .sidebar__inner{style: 'top: 9rem'}
        %h2.text-black-light.xs-beta.xs-inset2.xs-mb1 Components
        %ul.list-navigation
          = render_nav_tree(theme_components)

  .layout__item.sm-8of12.md-9of12><
    = render_component_tree(theme_components)
