.container.xs-mt3
  .layout
    .layout__item><
      %h1.xs-mbh0 Full Page Layout Examples
      %hr.xs-mb2

      = render 'full_page_example'

      %h1.xs-mbh0.xs-mt2 Code for the full page example above
      %hr.xs-mbh0

      %pre.xs-mtb1
        %code.html= escaped 'full_page_example'