%ol
  %li gem install
  %li import scss files using this pattern: (explain settings first and shit)
  %li using base theme (references docs and a quick page example maybe)
  %li customizing (references customization section with custom component example)
