.layout__item><
  %h2.text-black-light.xs-beta.xs-mbh0 Block Lists
  %hr.text-gray-light.xs-pth0.xs-mb1
.layout__item.xs-mb2><
  %p.xs-mbh0 Block Lists are for lists where you want full control over each element, treating it like a css block instead of an inline element.
  %pre
    %code.scss
      :preserve
            .block-list                 // container element for block list - apply to %ul or %ol
              .block-list__item         // individual item within block list, usually %li
            .block-list--offers         // variant specifically for offer items
.layout__item.xs-mt1
  %h3.xs-gamma.xs-mbh0.xs-mb1 Example
  %ul.block-list
    %li.block-list__item Item One
    %li.block-list__item Item Two
    %li.block-list__item Item Three
