.layout__item><
  %h2.text-black-light.xs-beta.xs-inset2.xs-mbh0 Boxes
  %hr.text-gray-light.xs-pth0.xs-mb1
  %p.xs-mbh0 
    Boxes are used for sectioning off content, and also for establishing background colors, borders, and generally making a section stand out from its parent elements.
  %pre.xs-mb1
    %code.scss
      :preserve
        .box                            // A section
        .box.box--white-light           // White background and appropriate colored borders,
        .box.box--black.box--rounded    // Black background, rounded borders

  - FortitudeRails.theme_intents.each do |intent|
    .box.xs-p1.xs-mb1{class: "box--#{intent}"}
      %h3.xs-gamma.xs-inset2.xs-mbh0 This is a #{intent} box
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
