.library__anchor-helper#colors
%section.library__section
  %h2 Colors
  .layout.layout--small.xs-mb1.md-mb2
    .layout__item.xs-6of12.sm-4of12.md-3of12.xs-mb1><
      %ul.colors
        %li.color.color--black-light
        %li.color.color--black
        %li.color.color--black-dark
    .layout__item.xs-6of12.sm-4of12.md-3of12.xs-mb1><
      %ul.colors
        %li.color.color--gray-light
        %li.color.color--gray
        %li.color.color--gray-dark
    .layout__item.xs-6of12.sm-4of12.md-3of12.xs-mb1><
      %ul.colors
        %li.color.color--white-light
        %li.color.color--white
        %li.color.color--white-dark
    .layout__item.xs-6of12.sm-4of12.md-3of12.xs-mb1><
      %ul.colors
        %li.color.color--green-light
        %li.color.color--green
        %li.color.color--green-dark
    .layout__item.xs-6of12.sm-4of12.md-3of12.xs-mb1><
      %ul.colors
        %li.color.color--blue-light
        %li.color.color--blue
        %li.color.color--blue-dark
    .layout__item.xs-6of12.sm-4of12.md-3of12.xs-mb1><
      %ul.colors
        %li.color.color--red-light
        %li.color.color--red
        %li.color.color--red-dark
    .layout__item.xs-6of12.sm-4of12.md-3of12.xs-mb1><
      %ul.colors
        %li.color.color--orange-light
        %li.color.color--orange
        %li.color.color--orange-dark
    .layout__item.xs-6of12.sm-4of12.md-3of12.xs-mb1><
      %ul.colors
        %li.color.color--yellow-light
        %li.color.color--yellow
        %li.color.color--yellow-dark

