.layout
  .layout__item
    %h2.text-black-light.xs-beta.xs-inset2 Element styles
    %hr.text-gray-light.xs-pth0.xs-mb2
  .layout__item.md-4of12.xs-mb2><
    %h4.text-black-light.xs-gamma.xs-mbh0 Inline Elements
    .layout.xs-mtbh1
      .layout__item.xs-6of12><
        %a.link{href: "#"} This is a link:
      .layout__item.xs-6of12><
        %pre
          %code.haml %a.link{href: '#'}
    .layout.xs-mtbh1
      .layout__item.xs-6of12><
        %a.text-gray-dark{href: "#"} This is a muted link:
      .layout__item.xs-6of12><
        %pre
          %code.haml %a.text-gray-dark
    .layout.xs-mtbh1
      .layout__item.xs-6of12><
        %strong.text-medium Medium text
      .layout__item.xs-6of12><
        %pre
          %code.haml %strong.text-medium
    .layout.xs-mtbh1
      .layout__item.xs-6of12><
        %em.text-italic Italic text:
      .layout__item.xs-6of12><
        %pre
          %code.haml %em.text-italic
    .layout.xs-mtbh1
      .layout__item.xs-6of12><
        %ins Underline text:
      .layout__item.xs-6of12><
        %pre
          %code.haml %ins
    .layout.xs-mtbh1
      .layout__item.xs-6of12><
        %del Strike through text:
      .layout__item.xs-6of12><
        %pre
          %code.haml %del
    .layout.xs-mtbh1
      .layout__item.xs-6of12><
        %small Small:
      .layout__item.xs-6of12><
        %pre
          %code.haml %small
    .layout.xs-mtbh1
      .layout__item.xs-6of12><
        %blockquote
          %p Blockquotes
      .layout__item.xs-6of12><
        %pre
          %code.haml %blockquote > %p
    .layout.xs-mtbh1
      .layout__item.xs-6of12><
        %sub Subscript
      .layout__item.xs-6of12><
        %pre
          %code.haml %sub
    .layout.xs-mtbh1
      .layout__item.xs-6of12><
        %sup Superscript
      .layout__item.xs-6of12><
        %pre
          %code.haml %sup
    .layout.xs-mtbh1
      .layout__item.xs-6of12><
        %figure
          %img{alt: "An awesome picture", src: "http://placehold.it/60"}
      .layout__item.xs-6of12><
        %pre
          %code.haml %figure > %img{alt: 'name', src: 'url'}
    .layout.xs-mtbh1
      .layout__item.xs-6of12><
        %figure
          %img{alt: "An awesome picture", src: "http://placehold.it/60"}
          %figcaption Caption for the awesome picture
      .layout__item.xs-6of12><
        %pre
          %code.haml %figure > %img + %figcaption

  .layout__item.md-4of12><
    %h4.text-black-light.xs-gamma.xs-mbh0 Lists
    .layout.xs-mb1
      .layout__item.xs-6of12><
        %p.text-bold Unordered lists
        %pre
          %code.haml %ul > %li
        %ul
          %li List item
          %li List item
          %li List item
      .layout__item.xs-6of12><
        %p.text-bold Ordered lists
        %pre
          %code.haml %ol > %li
        %ol
          %li List Item
          %li List item
          %li List item
    .layout.xs-mb1
      .layout__item.xs-6of12><
        %p.text-bold Description Lists
        %pre
          %code.haml %dl > %dt + %dd
        %dl
          %dt Term 1
          %dd Description 1
          %dt Term 2
          %dd Description 2
          %dt Term 3
          %dd Description 3
  .layout__item.md-4of12><
    %h4.text-black-light.xs-gamma.xs-mbh0 Headers
    %p.xs-mb2
      Note: all headers are the same size by default. You
      %strong must
      set a size for each header (-alpha -beta -gamma)
    %h1.text-black-light.xs-alpha.xs-mbh0
      %pre
        %code.haml %h1.xs-alpha
    %h2.text-black-light.xs-beta.xs-mbh0
      %pre
        %code.haml %h2.xs-beta
    %h3.text-black-light.xs-gamma.xs-mbh0
      %pre
        %code.haml %h3.xs-gamma
    %h4.text-black-light.xs-delta
      %pre
        %code.haml %h4.xs-delta
    %h5.text-black-light.xs-epsilon
      %pre
        %code.haml %h5.xs-epsilon
    %h6.text-black-light.xs-zeta
      %pre
        %code.haml %h6.xs-zeta
