.layout__item><
  %h2.text-black-light.xs-beta.xs-mbh0 Flag
  %hr.text-gray-light.xs-pth0.xs-mb1
.layout__item.xs-mb2><
  %p.xs-mbh0
    Flags align an image or element with some text in a nice format which will be vertically aligned, horizontally stable, and responsive.
  %pre
    %code.scss
      :preserve
            .flag                 // block object
              .flag__object       // image or element
              .flag__body         // content to align with flag__object
.layout__item.xs-mt1
  %h3.xs-gamma.xs-mbh0.xs-mb1 Example
  .flag
    .flag__object
      %img{src: 'http://placehold.it/200x200' }
    .flag__body
      %p.xs-delta
        Wes Anderson master cleanse taxidermy sartorial meggings. Master cleanse fixie fingerstache tilde iPhone, dreamcatcher Tumblr pork belly fanny pack Thundercats Schlitz kogi mustache bicycle rights sriracha. Whatever DIY pug four dollar toast Echo Park. PBR Carles vegan, banjo deep v put a bird on it tilde lumbersexual taxidermy leggings. Flexitarian salvia XOXO, mustache authentic cold-pressed Odd Future you probably haven't heard of them trust fund selvage. Artisan pork belly YOLO, meditation umami Blue Bottle vinyl selfies. You probably haven't heard of them stumptown distillery photo booth vinyl.