.layout__item.xs-mb2><
  %h2.text-black-light.xs-beta.xs-mbh0 Flashbars
  %hr.text-gray-light.xs-pth0.xs-mb1
  %p.xs-mbh0 Flashbars can display notifications, alerts, and special promos. Here, we have them inside a .container, but normally you would only want them at the top level, outside the grid do they are full-width.
  %pre
    %code.haml
      :preserve
            .flashbar             // Required
              %a.flashbar__close  // nest under .flashbar to create a close button
              .container          // use to contain content and set width for flashbar content
                                  // use .fluid-container if content doesn't need to
                                  // be constrained by a grid
            .flashbar--type       // add to .flashbar to specify type

.layout__item.xs-mt1><
  %h3.xs-gamma.xs-mbh0.xs-mb1 Examples

  - hibar_theme = theme_intents.sample
  .flashbar.flashbar--thin.xs-prlh0.xs-mbh0{class: "flashbar--#{hibar_theme}"}
    .xs-text-center
      \.flashbar--thin
      %button.button.button--hibar HiButton
      \%button.button.button--hibar

  - theme_intents.each do |intent|
    .flashbar.xs-prlh0.xs-mbh0{class: "flashbar--#{intent}"}
      %a.flashbar__close.xs-gamma.xs-inset2{href: "#"}
        &times;
      .fluid-container.xs-ptbh0
        \.flashbar--#{intent}
