.layout__item><
  %h2.text-black-light.xs-beta.xs-inset2
    Fluid Containers
  %hr.text-gray-light
  %p.xs-ptb1 Fluid containers are 100% width instead of responsive. Useful for things like full-width background images, parallax, and navigation bars.
  %pre
    %code.scss
      :preserve
        .fluid-container  // div will expand to full screen