.library__anchor-helper#forms
%section.library__section
  %h2 Forms
  .content--markdown
    :markdown
      We provide styles for each kind of input; however, we don't provide containers to align inputs a certain way. (other than built-in `.layout` and `.layout__item`). So what you may remember from twitter bootstrap as "form-horizontal" doesn't exist here... yet.
