.layout__item><
  %h2.text-black-light.xs-beta.xs-inset2 Inline Lists
  %hr.text-gray-light
  %p.xs-ptb1 Easy way to use list elements inline.
  %pre
    %code.scss
      :preserve
        %ul.inline-list           // Inline list block element
          %li.inline-list__item   // list item
