.layout__item><
  %h2.text-black-light.xs-beta.xs-inset2 List Navigation
  %hr.text-gray-light
  %p.xs-ptb1.xs-delta A list intended for navigation
  %pre
    %code.scss
      :preserve
        %ul.list-navigation           // block for list-navigation
          %li.list-navigation__item   // list navigation element
            %a.list-navigation__link  // styled link for list navigation
