.library__anchor-helper#structure
%section.library__section
  %h2 Structure
  %h4 The next three sections comprise the grid scaffolding.

  .box.box--yellow-light.xs-p1.xs-ml2
    %p.xs-pb1 Do not customize the CSS of layout elements. You will find yourself fighting the grid.
    %p Instead, add an inner element and styles to that. The code examples here will include the blue box `grid-tile` element on the inside as a reminder.

  %h5 Modify / extend with knowledge!
