.layout__item.xs-mb2><
  %h2.text-black-light.xs-beta.xs-mbh0 Tabs-Navigation
  %hr.text-gray-light.xs-pth0.xs-mb1
  %p.xs-mbh0 Tabs, floating and fixed.

  %pre.xs-mtb1
    %code.haml
      - intent_example = theme_intents.sample
      :preserve
        %ul.tabs-navigation{class: "tabs-navigation--#{intent_example}"}
          %li.tabs-navigation__item
            %a.tabs-navigation__link.xs-ph0{href: '#'} Red Pill
          %li.tabs-navigation__item.tabs-navigation__item--is-active
            %a.tabs-navigation__link.xs-ph0{href: '#'} Blue Pill
        .tabs
          .box.tabs__target--is-active.xs-p1.xs-mb1{class: "box--#{intent_example}"}
            .layout
              .layout__item
                %h3 Things
  - theme_intents.each do |intent|
    %ul.tabs-navigation{class: "tabs-navigation--#{intent}"}
      %li.tabs-navigation__item.tabs-navigation__item--is-active
        %a.tabs-navigation__link.xs-ph0{href: '#'} Red Pill
      %li.tabs-navigation__item
        %a.tabs-navigation__link.xs-ph0{href: '#'} Blue Pill
    .tabs
      .box.tabs__target--is-active.xs-p1.xs-mb1{class: "box--#{intent}"}
        .layout
          .layout__item
            %h3 Things


  %h4 Fixed Tabs
