.library__anchor-helper#typography
%section.library__section
  %h2 Typography
  .content--markdown
    :markdown
      Typography includes all of your textual needs, from structural `p` and `ul` tags to visual `strong` and `a` tags.
