.layout
  .layout__item><
    %h2.text-black-light.xs-beta.xs-mbh0 Wings
    %hr.text-gray-light.xs-pth0.xs-mb1
  .layout__item.xs-mb2><
    %p.xs-mbh0 Who doesn't want to just fly? Wings serve as both a divider and explainer.
    %pre
      %code.scss
        :preserve
              .wings                      // container class for wings
              .wings--gray-light          // colors - also --white, and --white-dark
              .wings--thin                // make the wings a little smaller, vertically
                .wings__wing              // place before and after wings__target
                .wings__target            // words contained in the wings
                .wings__target--narrow    // add to wings__target for more narrow

  .layout__item.xs-mb2><
    - theme_intents.each do |intent|
      .wings.wings--thin.xs-mb1{class: "wings--#{intent}"}
        .wings__wing
        %span.wings__target.wings__target--narrow.xs-epsilon.text-gray.text-light Wings!
        .wings__wing
