@import "fortitude/theme/settings/colors";

#fortitude{
  .navigationbar{
    background-color: $gray-darker-color;
    &__header {
      &__logo {
        color: $gray-light-color;
        text-decoration: none;
        &:visited {
          color: $gray-light-color;
        }
        &:hover {
          color: $gray-color;
        }
      }
    }
    
    &__item {
      a {
        color: $gray-light-color;
        transition: color 0.1s ease-in-out;
        text-decoration: none;

        &:visited {
          color: $gray-light-color;
        }
        &:hover {
          color: $gray-color;
        }
      }
    }
  }
}