.navigationbar {
  text-transform: none;
  background-color: $fortitude-rails-navigationbar-background-color;

  .navigationbar__header__logo {
    color: $fortitude-rails-navigationbar-logo-color;
    text-decoration: none;
  }
  
  .navigationbar__link {
    color: $fortitude-rails-navigationbar-link-color;
    text-decoration: none;
    
    &:visited, &:hover, &:active {
      text-decoration: none;
    }

    &:visited {
      color: darken($fortitude-rails-navigationbar-link-color, 5%);
    }

    &:hover {
      color: darken($fortitude-rails-navigationbar-link-color, 8%);
    }
  }
}

.list-navigation__link { 
  color: darken($fortitude-rails-navigation-link-color, 5%);
  text-decoration: none;
  
  &:visited, &:hover, &:active {
    text-decoration: none;
  }

  &:visited {
    color: darken($primary-color, 5%);
  }

  &:hover {
    color: darken($primary-color, 8%); 
  }
}