$fortitude-rails-navigationbar-background-color: $gray-darker-color;
$fortitude-rails-navigationbar-logo-color: $gray-lighter-color;
$fortitude-rails-navigationbar-link-color: $gray-light-color;

$fortitude-rails-navigation-link-color: $primary-color;