%header.container--fixed-top.fluid-container
  %nav.navigationbar.navigationbar--gray-lightest
    .container
      .navigationbar__header
        %a.navigationbar__header__logo{href: root_path, target: '_self'} Fortitude Rails
      .navigationbar__toggle
        %img.icon.icon--burger{alt: 'Menu', src: image_path('spacer.gif')}
        %input.navigationbar__toggle__helper{type: 'checkbox'}
        %ul.navigationbar__navigation
          %li.navigationbar__item
            %a.navigationbar__link{href: static_path('getting_started'), target: '_self'} Getting Started
          %li.navigationbar__item
            %a.navigationbar__link{href: static_path('docs'), target: '_self'} Docs
          %li.navigationbar__item
            %a.navigationbar__link{href: static_path('component_generator'), target: '_self'} Component Generator
          %li.navigationbar__item
            %a.navigationbar__link{href: static_path('customization'), target: '_self'} Customization
.navigationbar
