%header.container--fixed-top.fluid-container
  %nav.navigationbar.navigationbar--default
    .container
      .navigationbar__header
        %a.navigationbar__header__logo{href: root_path, target: '_self'} Fortitude
      .navigationbar__toggle
        = image_tag spacer_gif, alt: 'Menu', class: 'icon icon--burger'
        %input.navigationbar__toggle__helper{:type => "checkbox"}/
        %ul.navigationbar__navigation
          %li.navigationbar__item
            %a.navigationbar__link{href: static_path('getting_started'), target: '_self'} Getting Started
          %li.navigationbar__item
            %a.navigationbar__link{href: static_path('docs'), target: '_self'} Docs
          %li.navigationbar__item
            %a.navigationbar__link{href: static_path('js_docs'), target: '_self'} JS Docs
          %li.navigationbar__item
            = link_to 'Full Page', static_path('full_page'), class: 'navigationbar__link'
          %li.navigationbar__item
            %a.navigationbar__link{href: static_path('customization'), target: '_self'} Customization
